.table {
  font-size: 0.85em;
  line-height: 1.4em;
  padding-left: 15px;
  padding-top: 10px;
  margin: 0 auto;
}

.sign {
  font-family: 'Noto Emoji';
  font-weight: 700;
  padding-left: 10px;
  padding-right: 14px;
}

.house {
  text-align: center;
  opacity: 0.7;
  font-size: 0.7;
  padding-left: 10px;
  padding-right: 14px;
}

.degrees {
  text-align: center;
}

.thead th {
  font-size: 0.7em;
  opacity: 0.6;
}
.star {
  font-size: 0.8em;
  line-height: 1.2em;
}

.star pre {
  margin: 0;
}

.starDetail {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 300px;
  background: #272525;
  text-wrap: balance;
}

@media (hover: hover) {
  .star:hover .starDetail {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    max-width: 300px;
    background: #272525;
  }
}

.retro {
  font-weight: bold;
  font-size: 0.7em;
  color: #a06f33;
  display: inline-block;
  margin-bottom: -2px;
  padding-right: 3px;
}
