.table {
  font-size: 0.85em;
  line-height: 1.4em;
  padding-left: 15px;
  padding-top: 10px;
  margin: 0 auto;
}

.sign {
  font-family: 'Noto Emoji';
  font-weight: 700;
  padding-left: 10px;
  padding-right: 14px;
}

.house {
  text-align: center;
  opacity: 0.7;
  font-size: 0.7;
  padding-left: 10px;
  padding-right: 14px;
}

.retro[data-type='natal'],
.degrees[data-type='natal'] {
  display: none;
}

.retro[data-type='transit'] {
  color: rgb(77, 223, 167);
  opacity: 0.8;
}

.degrees[data-type='transit'] {
  color: rgb(77, 223, 167);
  margin-right: 15px;
  display: inline-block;
  opacity: 0.8;
}

.degrees > span:first-child {
  display: inline-block;
  text-align: right;
  width: 20px;
  margin-right: 4px;
}
.degrees > span:nth-child(2) {
  display: inline-block;
  text-align: center;
  width: 10px;
  margin-right: 2px;
}

.thead th {
  font-size: 0.7em;
  opacity: 0.6;
}
.star {
  font-size: 0.8em;
  line-height: 1.2em;
}

.star pre {
  margin: 0;
}

.starDetail {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 300px;
  background: #272525;
  text-wrap: balance;
}

@media (hover: hover) {
  .star:hover .starDetail {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    max-width: 300px;
    background: #272525;
  }
}

.retro {
  font-weight: bold;
  font-size: 0.7em;
  color: #a06f33;
  display: inline-block;
  margin-bottom: -2px;
  padding-right: 3px;
}

.CelestialPoints {
  color: violet;
}

.CelestialPoints .degrees[data-type='transit'] {
  color: violet;
  opacity: 0.5;
}
