.figure {
  color: white;
}

.figure circle:nth-of-type(2) {
  fill: #242424;
}

@media (prefers-color-scheme: light) {
  .figure {
    color: #213547;
  }

  .figure circle:nth-of-type(2) {
    fill: white;
  }
}

.figure circle {
  stroke-width: 1px;
  stroke: currentColor;
  fill: none;
}

.figure {
  font-size: 9px;
  font-family: sans-serif;
}

.house {
  font-family: 'Noto Emoji';
  font-weight: 700;
}

text.planet {
  font-size: 11px;
  font-weight: bold;
}
