.figure circle:nth-of-type(2) {
  fill: #242424;
}

.figure circle {
  stroke-width: 1px;
  stroke: currentColor;
  fill: none;
}

.figure {
  font-size: 9px;
  font-family: sans-serif;
}

.house {
  font-family: 'Noto Emoji';
  font-weight: 700;
}

text.planet {
  font-size: 11px;
  font-weight: bold;
}

.planet[data-burn='true'] {
  fill: red;
}
.planet[data-in-mid-of-sun='true'] {
  fill: gold;
}

.planet[data-planet='Sun'] {
  fill: gold;
}
