.db {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: min(100vh - 350px, 600px);
  overflow-y: auto;
}

.personContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #ccc;
}

.button {
  width: unset;
}

.name,
.date,
.button {
  flex: 1;
  text-align: left;
  margin-right: 16px;
  line-height: 1.2;
}

.button {
  flex: 0;
  padding: 0.5em;
  font-size: 0.6em;
}

.name {
  text-decoration: underline;
  cursor: pointer;
  line-height: 13px;
}

.name p {
  margin: 0;
  padding: 0;
}

.name p:nth-of-type(2) {
  font-size: 0.7em;
  text-decoration: unset;
}

.date,
.dateZ {
  font-size: 0.7em;
  color: gray;
}

.dateZ {
  max-width: 40px;
  padding-right: 10px;
}
