.dname {
  font-family: 'Noto Emoji', sans-serif;
  font-weight: 400;
  fill: var(--text-color);
  opacity: 0.3;
  font-size: 6px;
}

.dname[data-planet='true'] {
  fill: red;
}

.dline {
  z-index: -4;
}
