.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
}

@media (max-width: 350px) {
  .wrap {
    font-size: 9px;
    line-height: 1.4em;
  }
}

@media (max-height: 750px) {
  .wrap {
    line-height: 1.4em;
  }
}

.wrap > div + div {
  margin-left: 20px;
}

.list {
  all: unset;
  appearance: none;
}

@media (max-height: 950px) {
  .wrap [data-alot='true'] {
    columns: 2;
  }
}

.neg,
.conjunction,
.pos {
  appearance: none;
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: monospace;
}

.neg span,
.pos span,
.conjunction span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 20px;
}

.neg span:nth-child(2) {
  color: red;
}

.wrap[data-type='transit'] span:nth-child(3),
.wrap[data-type='progressed'] span:nth-child(3) {
  color: var(--transit-color);
}

.pos span:nth-child(2) {
  color: deepskyblue;
}

.wrap li {
  opacity: 0.7;
}

.wrap [data-exact='true'] {
  font-weight: 800;
  opacity: 1;
}
