circle:hover + .starline,
circle:hover ~ .text {
  opacity: 1;
}

circle.star.star {
  stroke-width: 10;
  stroke: transparent;
  fill: var(--text-color);
}

circle.star.star[data-type='evil'] {
  fill: red;
}

circle.star.star[data-type='royal'] {
  fill: gold;
}

.text {
  font-size: 6px;
  pointer-events: none;
  display: block;
  transform: translateX(-50%);
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
