.wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    'bottom bottom'
    'section1 section2';

  column-gap: 10px;

  max-width: 900px;
  margin-bottom: 10px;

  font-size: 0.9em;
}

.wrapper section {
  margin: 0;
  padding: 0;
}

.wrapper section:first-child {
  grid-area: section1;
}

.wrapper section:nth-child(2) {
  grid-area: section2;
  display: block;
}

.transitInfo {
  grid-area: bottom;
  line-height: 1em;
}

.reset {
  padding: 5px;
}

.select,
.input {
  width: 100%;
  max-width: 100%;
}
