.wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr 40px 1fr 1fr;

  grid-template-areas:
    'typeselector typeselector typeselector typeselector typeselector'
    'section1 section1 swap section2 section2'
    'info1 info1 info1 info2  info2';

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr 50px;

    grid-template-areas:
      'typeselector typeselector swap'
      'section1 section1 section1'
      'info1 info1 info1'
      'section2 section2 section2'
      'info2 info2 info2';
  }

  gap: 10px;

  max-width: min(900px, 95%);
  overflow: hidden;
  margin-bottom: 10px;

  font-size: 0.9em;

  select,
  input:not([type='checkbox']) {
    min-height: 25px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 6px 5px;
    appearance: auto;
  }

  input {
    padding: 2px 5px;
  }
}

.wrapper > section {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;

  grid-template-columns: 25px 1fr 1fr;

  grid-template-areas:
    'reset time time'
    'nothing country city'
    'nothing info info';

  max-width: 100%;
  overflow: hidden;

  & > input {
    grid-area: time;
  }

  select {
    grid-area: country;
    width: 100%;
  }

  select:nth-of-type(2) {
    grid-area: city;
  }
}

.wrapper section:first-of-type {
  grid-area: section1;
}

.wrapper section:nth-of-type(2) {
  grid-area: section2;
}

.wrapper section select {
  width: 100%;
}

.transitInfo {
  grid-area: info;
  line-height: 1em;
  font-size: 0.7em;
  opacity: 0.6;
}

.transitInfo2 {
  grid-area: info1;
  line-height: 1em;
}

.reset {
  padding: 5px;
  grid-area: reset;
}

.chartTypeSelector {
  grid-area: typeselector;
  width: 100%;
  padding-left: 35px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  button + button {
    margin-left: 10px;
  }
}

.chartTypeSelector button {
  border-radius: 8px;
  padding: 0.4em 0.6em;
  font-size: 0.7em;
  cursor: pointer;
}

.chartTypeSelector > button + button {
  margin-left: 1px;
  margin-right: 0;
}

.swap {
  grid-area: swap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 0.6em;
  color: gray;

  button {
    height: 30px;
    padding: 10px;
    margin-left: 5px;
    max-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .swap {
    flex-direction: column;
  }
}

.checkboxWrapper {
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.6em;
  justify-content: center;
  align-items: center;
  color: gray;
  line-height: 1.2em;
}

@media (max-width: 800px) {
  .graphic {
    display: none;
  }
}
