.wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    'section1 section2'
    'bottom bottom';

  gap: 10px;

  max-width: 900px;
}

.wrapper section:first-child {
  grid-area: section1;
}

.wrapper section:nth-child(2) {
  grid-area: section2;
  display: block;
}

.transitInfo {
  grid-area: bottom;
}

.reset {
  padding: 5px;
}

.select,
.input {
  width: 100%;
  max-width: 100%;
}
