.transit.transit.transit {
  stroke: var(--transit-color);
}

.text {
  font-size: 7px;
  font-weight: normal;
  font-family: monospace;
  stroke: unset;

  fill: var(--transit-color);

  tspan {
    font-size: 4px;
  }
}

.text tspan:first-child {
  position: relative;
  display: block;
  transform: translateY(-30px);
}
