.wrapper {
  height: 100%;
  height: auto;

  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  grid-template-areas:
    'planetes fictive thirty'
    'planetes lots house'
    'planetes other theme'
    'planetes elements theme'
    'orb orb orb';
  column-gap: 10px;
  font-size: 0.9em;
  margin: 0 auto;
}

.wrapper > * {
  display: block;
  margin: 0 auto;
  min-width: 110px;
}

.planetes {
  grid-area: planetes;
}

.lots {
  grid-area: lots;
}

.thirty {
  grid-area: thirty;
}

.orb {
  grid-area: orb;
  width: 100%;
}

.fictive {
  grid-area: fictive;
}

.theme {
  grid-area: theme;
}

.other {
  grid-area: other;
}

.planetes {
  font-weight: bold;
  font-family: monospace;
}

.houseSelector {
  grid-area: house;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: start;
}
.houseSelector > * {
  margin-top: 0.5em;
}

.wrapper hr {
  width: 30%;
  margin-top: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  opacity: 0.6;
}

.thead {
  font-size: 0.7em;
  opacity: 0.6;
  display: flex;
}

.wrapper input[type='checkbox'] {
  margin-top: 1px;
  display: block;
}

.houseSelector {
  grid-area: house;

  select {
    min-height: 25px;
    background: transparent;
    border-radius: 6px;
    padding: 5px 4px;
    appearance: none;
  }
}

.orb {
  h3 {
    margin: 0;
    padding: 0;
  }

  margin-top: 20px;
}

.aspectLine {
  font-size: 0.8em;
  line-height: 10px;

  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}

.aspectLine input {
  appearance: none;
  background: transparent;
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
  width: 80%;
}

.aspectLine input::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 0 auto;
  z-index: -1;
}

.daynight {
  color: #a06f33;
  font-size: 8px;
  padding: 0;
  margin: 0;
}

.daynightwrap {
  padding: 0;
  margin: 0;
  line-height: 12px;
}

.theme input {
  width: 30px;
  position: relative;
}

.switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
