.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'planetes fictive'
    'planetes other'
    'planetes elements';
  column-gap: 10px;
  font-size: 0.9em;
  margin: 0 auto;
}

.wrapper td:first-child,
.wrapper th:first-child {
  display: inline-block;
  text-align: left;
  min-width: 65px;
}

.wrapper > * {
  display: block;
  margin: 0 auto;
}

.planetes {
  grid-area: planetes;
}

.fictive {
  grid-area: fictive;
}
.other {
  grid-area: other;
}

.wrapper hr {
  width: 30%;
  margin-top: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  opacity: 0.6;
}

.thead th {
  font-size: 0.7em;
  opacity: 0.6;
}
