.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'planetes fictive'
    'planetes other'
    'planetes elements'
    'orb house';
  column-gap: 10px;
  font-size: 0.9em;
  margin: 0 auto;
}

.wrapper td:first-child,
.wrapper th:first-child {
  min-width: 65px;
}

.wrapper > * {
  display: block;
  margin: 0 auto;
  min-width: 110px;
}

.planetes {
  grid-area: planetes;
}

.orb {
  grid-area: orb;
  align-items: flex-start;
}

.fictive {
  grid-area: fictive;
}
.other {
  grid-area: other;
}

.housseSelector {
  grid-area: house;
  display: block;
}

.wrapper hr {
  width: 30%;
  margin-top: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  opacity: 0.6;
}

.thead th {
  font-size: 0.7em;
  opacity: 0.6;
}

.wrapper input[type='checkbox'] {
  margin-top: 1px;
  display: block;
}

.houseSelector {
  grid-area: house;

  select {
    min-height: 25px;
    background: transparent;
    border-radius: 6px;
    padding: 6px 5px;
    appearance: none;
  }
}

.aspectLine {
  font-size: 0.8em;
  line-height: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  input {
    appearance: none;
    background: transparent;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
  }
}

.aspectLine input::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 0 auto;
  z-index: -1;
}
