.layout {
  display: flex;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-snap-align: center;
}

.layout section {
  width: 100%;
}

@media (min-width: 900px) {
  .layout section:first-of-type {
    width: auto;
    max-width: 300px;
  }
}

.layout section.right,
.layout section.left {
  display: flex;
  align-items: center;
}

.layout section.right {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.layout section.left {
  width: 90%;
  display: flex;
  align-items: center;
}

.layout section.center {
  width: 130%;
}

.layout section > svg {
  width: 100%;
  height: auto;
}

.center {
  position: relative;
}

.tablesSelector {
  margin: 10px;
}

@media (max-width: 900px) {
  .layout {
    width: 100vw;
    padding-bottom: 30px;
  }

  .layout section,
  .layout section:first-of-type {
    min-width: 100vw;
    box-sizing: border-box;
  }
}

.tablesSelector button {
  border-radius: 8px;
  padding: 0.4em 0.6em;
  font-size: 0.7em;
  cursor: pointer;

  & + button {
    margin-left: 5px;
  }
}

.header {
  position: relative;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .hours {
    display: flex;
    flex-direction: column-reverse;
    gap: 22px;
  }
}

.select,
.input {
  width: 100%;
  max-width: 100%;
}

.transitButtons button {
  width: 100%;
  color: aliceblue;
}

.transitInfo {
  color: gray;
  font-size: 7px;
}
