.layout {
  display: flex;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-snap-align: center;
}

.layout section {
  width: 100%;
}

.layout section > svg {
  width: 100%;
  height: auto;
}

.tables {
  position: relative;
}

.tablesSelector {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 500px) {
  .layout {
    width: 100vw;
  }

  .layout section,
  .layout section:first-of-type {
    min-width: 100vw;
    box-sizing: border-box;
  }
}

.tablesSelector button {
  border-radius: 8px;
  padding: 0.4em 0.6em;
  font-size: 0.7em;
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.header section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
  padding: 0;
}

.header section + section {
  margin-top: 5px;
}

.select,
.input {
  width: 100%;
  max-width: 100%;
}

.transitButtons button {
  width: 100%;
  color: aliceblue;
}

.transitInfo {
  color: gray;
  font-size: 7px;
}
