@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@400;500;600;700&display=swap');

.wrap {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.hour {
  display: flex;
  text-align: center;
}

.hour > div {
  min-width: 50px;
}

.hour > div:first-child {
  color: #888;
  font-size: 0.8em;
  padding-top: 1px;
  box-sizing: border-box;
}

.hour > time {
  min-width: 70px;
}

.hour[data-current='true'] {
  background: #ffd7001a;
}

.hour:first-child > time:first-of-type,
.hour:nth-child(12) > time:last-of-type,
.hour:nth-child(13) > time:first-of-type,
.hour:last-child > time:last-of-type {
  font-weight: bold;
}

.sign {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-left: 15px;
}

.sign[data-divine='true'] {
  color: gold;
}

.house {
  font-family: 'Noto Emoji';
  font-weight: 700;
  opacity: 0.5;
}

.house[data-at-home='true'] {
  opacity: 1;
  color: gold;
}

.house[data-decline='true'] {
  background: crimson;
}

.house[data-exaltation='true'] {
  opacity: 1;
}

.house[data-fall='true'] {
  opacity: 0;
}

.moonday {
  position: absolute;
  margin-top: -7px;
  font-size: 7px;
}

/* happy and unhappy days following Kolesnikov */
.moonday[data-day='9'],
.moonday[data-day='19'],
.moonday[data-day='29'] {
  color: red;
}

.moonday[data-day='6'],
.moonday[data-day='10'],
.moonday[data-day='16'],
.moonday[data-day='20'],
.moonday[data-day='21'],
.moonday[data-day='27'],
.moonday[data-day='30'] {
  color: deepskyblue;
}
